body{
    background-color: blueviolet;
}
.Header{
    width: 100%;
}
.Name{
    font-size: 22px;
    margin-left: 150px;
    margin-top: 50px;
    color: white;
}
.phoneBlock{
    margin-left: 150px;
    font-size: 18px;
}
.phone, .email{
    color:darkgray;
    text-decoration: none;

}
.phoneNumber, .emailSend{
    color: wheat;
    text-decoration: none;
}
.emailBlock{
    margin-left: 150px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .Name{
        width: 400px;
        font-size: 36px;
        margin-left: 50px;
        margin-top: 50px;
        color: white;
    }
    .phoneBlock{
        margin-left: 50px;
        font-size: 18px;
    }
    .phone, .email{
        color:darkgray;
        text-decoration: none;
    
    }
    .phoneNumber, .emailSend{
        color: white;
        text-decoration: none;
    }
    .emailBlock{
        margin-left: 50px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .Name{
        font-size: 22px;
        margin-left: 50px;
        margin-top: 50px;
        color: white;
    }
    .phoneBlock{
        margin-left: 50px;
        font-size: 18px;
    }
    .phone, .email{
        color:darkgray;
        text-decoration: none;
    
    }
    .phoneNumber, .emailSend{
        color: white;
        text-decoration: none;
    }
    .emailBlock{
        margin-left: 50px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .Name{
        font-size: 22px;
        margin-left: 150px;
        margin-top: 50px;
        color: white;
    }
    .phoneBlock{
        margin-left: 150px;
        font-size: 18px;
    }
    .phone, .email{
        color:darkgray;
        text-decoration: none;
    
    }
    .phoneNumber, .emailSend{
        color: white;
        text-decoration: none;
    }
    .emailBlock{
        margin-left: 150px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .Name{
        font-size: 22px;
        margin-left: 150px;
        margin-top: 50px;
        color: white;
    }
    .phoneBlock{
        margin-left: 150px;
        font-size: 18px;
    }
    .phone, .email{
        color:darkgray;
        text-decoration: none;
    
    }
    .phoneNumber, .emailSend{
        color: white;
        text-decoration: none;
    }
    .emailBlock{
        margin-left: 150px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .Name{
        font-size: 22px;
        margin-left: 150px;
        margin-top: 50px;
        color: white;
    }
    .phoneBlock{
        margin-left: 150px;
        font-size: 18px;
    }
    .phone, .email{
        color:darkgray;
        text-decoration: none;
    
    }
    .phoneNumber, .emailSend{
        color: white;
        text-decoration: none;
    }
    .emailBlock{
        margin-left: 150px;
    }
}